// --- fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
// font-family: 'Roboto Slab', serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
// font-family: 'Inter', sans-serif;
// === / fonts
// --- mixins
@mixin pink_circle ($d) {
    height: $d;
    width: $d;
    background-color: rgba($color: #EB5757, $alpha: .5);
    border-radius: 50%;
}

// === / mixins
// --- variables
$screen_xs_max: 575.98px;
$screen_sm_max: 767.98px;
$screen_md_max: 991.98px;
$screen_lg_max: 1199.98px;
$screen_xl_max: 1399.98px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$screen_xxl: 1400px;
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    a,
    a:hover {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #fff;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .swiper-container {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .section_inner_wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .pre_title {
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
        color: #000000;
        line-height: 1;
    }
    .section_title {
        line-height: 1;
        font-weight: 900;
        font-size: 24px;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #000000;
        display: inline-block;
        position: relative;
        margin-bottom: 40px;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            @include pink_circle(50px);
            right: 0;
            margin-right: -25px;
            top: 50%;
            margin-top: -25px;
        }
    }
}

section {
    padding-top: 40px;
    padding-bottom: 30px;
    overflow: hidden;
}

// === / commons
// --- intro
.intro {
    padding: 0;
    background: url(../img/intro-mobile.jpg) no-repeat 50% 0%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(#000, .25);
    }
    .container {
        position: relative;
        z-index: 1;
    }
    .contacts_list {
        margin-top: 40px;
    }
    .brand_title {
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        max-width: 200px;
        margin-top: 20px;
        span {
            position: relative;
            z-index: 1;
            font-size: 36px;
            font-weight: 900;
            line-height: 1.4;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 2px;
            left: 93px;
            @include pink_circle(100px)
        }
    }
    p {
        font-size: 24px;
        color: #fff;
        text-align: center;
    }
    .intro_preview {
        font-size: 36px;
        color: #fff;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .menu_area {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: 4;
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -100px;
            left: 50%;
            margin-left: -50px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transition: .3s;
            background-color: #fff;
        }
        .menu_wrap {
            opacity: 0;
            visibility: hidden;
            transition: .4s;
            position: relative;
            z-index: 2;
            transform: translate(50px, 500px) scale(.1);
            padding: 40px 25px 70px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .menu {
                li+li {
                    margin-top: 15px;
                }
                .menu_item a {
                    white-space: nowrap;
                    font-weight: bold;
                    font-size: 30px;
                    letter-spacing: 0.02em;
                    -webkit-text-stroke: 1px #000;
                    transition: .3s;
                    &:hover {
                        color: #000;
                    }
                }
            }
            .messenger_list {
                display: flex;
                justify-content: center;
                li+li {
                    margin-left: 15px;
                }
                a {
                    display: inline-flex;
                    justify-content: center;
                    @include pink_circle(50px);
                }
            }
            .phones_list {
                text-align: center;
                a {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    text-align: center;
                    color: #000000;
                }
            }
        }
        .menu_toggle {
            position: absolute;
            @include pink_circle(100px);
            bottom: -50px;
            left: 50%;
            z-index: 5;
            margin-left: -50px;
            padding-top: 10px;
            .item_top {
                margin-top: 6px;
            }
            .item_mid {
                margin-top: 15px;
            }
            .item_bot {
                margin-top: 24px;
            }
            .menu_item {
                position: absolute;
                left: 50%;
                margin-left: -15px;
                width: 30px;
                height: 2px;
                border-radius: 3px;
                background-color: #fff;
                transition: .3s;
            }
        }
        &.activated {
            &::after {
                transform: translateY(-500px) scale(15);
            }
            .menu_wrap {
                opacity: 1;
                visibility: visible;
                transform: translate(0) scale(1);
            }
            .menu_toggle {
                .menu_item {
                    transform: rotate(45deg);
                }
                .item_bot,
                .item_top {
                    margin-top: 15px;
                    transform: rotate(135deg);
                }
            }
        }
    }
    //-------------------------------------------------------------------------------------------------------------------------------------------------------------
    //-------------------------------------------------------------------------------------------------------------------------------------------------------------
}

// === / intro
// --- promo
.promo {
    padding: 0;
    display: flex;
    flex-direction: column;
    .image_wrap {
        flex: auto;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000, $alpha: .2);
        }
        .image_promo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .promo_text {
        margin: 0;
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 22px;
        position: relative;
        overflow: hidden;
        .promo_figure {
            position: absolute;
            @include pink_circle(100px);
            &--1 {
                top: 0;
                right: 0;
                margin-top: -60px;
                // margin-right: 0px;
            }
            &--2 {
                top: 0;
                right: 0;
                margin-top: -56px;
                margin-right: 20px;
            }
            &--3 {
                bottom: 0;
                margin-bottom: -60px;
            }
            &--4 {
                bottom: 0;
                margin-bottom: -56px;
                margin-left: 20px;
            }
        }
    }
}

// === / promo
// --- steps
.steps {
    ol {
        flex: auto;
        padding: 0;
        margin: 0;
        list-style-type: none;
        counter-reset: my-counter;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 100%;
    }
    li {
        font-weight: 300;
        font-size: 20px;
        color: #000000;
        &::before {
            content: counter(my-counter);
            counter-increment: my-counter;
            margin-right: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include pink_circle(32px);
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 18;
            letter-spacing: 0.133333px;
            color: #FFFFFF;
        }
    }
    .v-line {
        border-left: 1px solid #C4C4C4;
        height: 100%;
        width: 1px;
        margin: 6px 15.5px;
    }
}

// === / steps
// --- vacancies
.vacancies {
    .vacancies_wrap {
        height: 1px; // формальное значение
        flex: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        .vacancy {
            margin-top: 20px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: rgba($color: #000, $alpha: .2);
                // filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .vacancy_name {
                font-size: 24px;
                color: #FFFFFF;
                padding: 15px 20px;
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 0;
            }
            .vacancy_price {
                font-weight: bold;
                font-size: 24px;
                color: #FFFFFF;
                padding: 15px 20px;
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
            }
        }
        .vacancies_figure {
            position: absolute;
            z-index: -1;
            @include pink_circle(100px);
            &--1 {
                top: 0;
                right: 0;
                margin-right: -50px;
                margin-top: 40px;
            }
            &--2 {
                top: 0;
                right: 0;
                margin-right: -40px;
                margin-top: 30px;
            }
            &--3 {
                left: 0;
                bottom: 0;
                margin-left: -41px;
                margin-bottom: -24px;
            }
            &--4 {
                left: 0;
                bottom: 0;
                margin-left: -24px;
                margin-bottom: -30px;
            }
        }
    }
}

// === / vacancies
// --- advantages
.advantages {
    padding-top: 22px;
    .swiper-advantages {
        flex: auto;
        .swiper-slide {
            display: flex;
            align-items: center;
        }
        .swiper-pagination-bullets {
            bottom: 30px;
        }
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background: none;
            border: 1px solid #000;
        }
        .swiper-pagination-bullet-active {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -2.5px;
                margin-left: -2.5px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #000;
            }
        }
    }
    .advantages_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 4px rgba(235, 87, 87, 0.25);
        border-radius: 10px;
        padding: 50px 15px 20px;
        padding-top: 50px;
        text-align: center;
        position: relative;
        .advantages_icon {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #F5ABAB;
            position: absolute;
            top: 0;
            margin-top: -50px;
        }
        .advantages_title {
            font-size: 20px;
            margin: 20px 0;
            text-transform: uppercase;
        }
        .advantages_description {
            font-weight: 300;
            font-size: 20px;
        }
    }
}

// === / advantages
// --- requirements
.requirements {
    .requirements_title {
        .section_title {
            margin-bottom: 0;
        }
        .pre_title {
            margin-bottom: 25px;
        }
    }
    .requirements_list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li+li {
            margin-top: 15px;
        }
        li {
            padding-left: 35px;
            font-weight: 300;
            font-size: 20px;
            background: url(../img/svg/pink-marker.svg) no-repeat 0 7px;
            background-size: 20px;
        }
    }
}

// === / requirements
// --- feedback
.feedback {
    .feedback_title {
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
        color: #EB5757;
        padding: 0 11px;
        border-bottom: 1px solid rgba(#EB5757, 1);
        text-align: center;
        margin-bottom: 30px;
        &.collapsed {
            border-bottom: 1px solid rgba(#EB5757, 0);
        }
    }
    .input_text {
        font-weight: 300;
        color: #1D1F22;
        font-size: 14px;
        &--small {
            font-size: 11px;
        }
    }
    form {
        .input {
            width: 100%;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: #1D1F22;
            margin-top: 10px;
            padding: 10px 0;
            outline: none;
            border: none;
            border-bottom: 1px solid #F1F2F3;
        }
    }
    .slider {
        margin-top: 20px;
        $green: #A3CD99;
        $darkgreen: #579E81;
        width: 100%;
        position: relative;
        input[type="range"] {
            outline: none;
            width: 100%;
            -webkit-appearance: none!important;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                margin-top: -4.5px;
                border-bottom: 1px solid #000;
            }
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none!important;
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 50%;
            transition: all .3s ease;
            position: relative;
            &::after {
                content: "df";
            }
        }
        input[type="range"]::-moz-range-thumb {
            -moz-appearance: none!important;
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 50%;
            transition: all .3s ease;
        }
        .range {
            width: 100%;
        }
        .bubble {
            position: absolute;
            margin-top: -15px;
            width: 30px;
            text-align: center;
            left: 50%;
            font-size: 14px;
            transform: translateX(-50%);
        }
    }
}

// === / feedback
// --- faq
.faq {}

// === / faq