@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Roboto', sans-serif; }
  .body a,
  .body a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff; }
  .body ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .body .swiper-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); }
  .body .container {
    padding-left: 25px;
    padding-right: 25px; }
  .body .section_inner_wrap {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .body .pre_title {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    line-height: 1; }
  .body .section_title {
    line-height: 1;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    position: relative;
    margin-bottom: 40px; }
    .body .section_title::before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 50px;
      width: 50px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      right: 0;
      margin-right: -25px;
      top: 50%;
      margin-top: -25px; }
  .body .button {
    font-size: 18px;
    text-transform: uppercase;
    color: #EB5757;
    padding: 10px 35px;
    border: 2px solid #EB5757;
    border-radius: 5px;
    min-width: 250px;
    background-color: #fff;
    outline: none;
    transition: .2s; }
    .body .button:active {
      transform: scale(0.95);
      color: #FFFFFF;
      background-color: #EB5757; }
  .body .messenger_list {
    display: flex;
    justify-content: center; }
    .body .messenger_list li + li {
      margin-left: 15px; }
    .body .messenger_list li {
      display: inline-flex;
      justify-content: center; }
    .body .messenger_list a {
      display: inline-flex;
      justify-content: center;
      height: 50px;
      width: 50px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
    @media (min-width: 576px) {
      .body .messenger_list a {
        height: 40px;
        width: 40px;
        background-color: rgba(235, 87, 87, 0.5);
        border-radius: 50%; }
        .body .messenger_list a img {
          width: 20px; } }
  .body .phones_list {
    text-align: center; }
    .body .phones_list a {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      text-align: center;
      color: #000000; }
  .body .brand_title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #000;
    position: relative;
    max-width: 200px;
    margin-top: 20px; }
    .body .brand_title span {
      position: relative;
      z-index: 1;
      font-size: 36px;
      font-weight: 900;
      line-height: 1.4; }
    .body .brand_title::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 2px;
      left: 93px;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }

section {
  padding-top: 40px;
  padding-bottom: 30px;
  overflow: hidden; }

.intro {
  padding: 0;
  background: url(../img/intro-mobile.jpg) no-repeat 50% 0%;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25); }
  .intro .container {
    position: relative;
    z-index: 1;
    color: #fff; }
  .intro .brand_title {
    color: #fff; }
  .intro p {
    font-size: 24px;
    text-align: center; }
  .intro .intro_preview {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px; }
  .intro .menu_area {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 4; }
    .intro .menu_area::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -100px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: .3s;
      background-color: #fff; }
    .intro .menu_area .menu_wrap {
      opacity: 0;
      visibility: hidden;
      transition: .4s;
      position: relative;
      z-index: 2;
      transform: translate(50px, 500px) scale(0.1);
      padding: 40px 25px 70px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .intro .menu_area .menu_wrap .menu li + li {
        margin-top: 15px; }
      .intro .menu_area .menu_wrap .menu .menu_item a {
        white-space: nowrap;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.02em;
        -webkit-text-stroke: 1px #000;
        transition: .3s; }
        .intro .menu_area .menu_wrap .menu .menu_item a:hover {
          color: #000; }
    .intro .menu_area .menu_toggle {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      bottom: -50px;
      left: 50%;
      z-index: 5;
      margin-left: -50px;
      padding-top: 10px; }
      .intro .menu_area .menu_toggle .item_top {
        margin-top: 6px; }
      .intro .menu_area .menu_toggle .item_mid {
        margin-top: 15px; }
      .intro .menu_area .menu_toggle .item_bot {
        margin-top: 24px; }
      .intro .menu_area .menu_toggle .menu_item {
        position: absolute;
        left: 50%;
        margin-left: -15px;
        width: 30px;
        height: 2px;
        border-radius: 3px;
        background-color: #fff;
        transition: .3s; }
    .intro .menu_area.activated::after {
      transform: translateY(-500px) scale(15); }
    .intro .menu_area.activated .menu_wrap {
      opacity: 1;
      visibility: visible;
      transform: translate(0) scale(1); }
    .intro .menu_area.activated .menu_toggle .menu_item {
      transform: rotate(45deg); }
    .intro .menu_area.activated .menu_toggle .item_bot,
    .intro .menu_area.activated .menu_toggle .item_top {
      margin-top: 15px;
      transform: rotate(135deg); }
  @media (min-width: 576px) {
    .intro {
      background: #fff url(../img/intro-desktop.jpg) no-repeat 100% 0;
      background-size: 50%; }
      .intro::after {
        content: none; }
      .intro .container {
        color: #000; }
      .intro .contacts_wrap {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        width: 65%; }
        .intro .contacts_wrap .contacts_list li a {
          color: #000;
          font-size: 24px; }
      .intro .brand_title {
        color: #000; }
        .intro .brand_title span {
          font-size: 68px;
          line-height: 1; }
        .intro .brand_title::before {
          content: none; }
      .intro .intro_preview {
        font-size: 33px;
        width: 50%;
        margin-top: 50px;
        margin-bottom: 30px; }
      .intro p {
        text-align: left; }
      .intro .menu_area {
        position: relative; }
        .intro .menu_area .menu_wrap {
          padding-top: 15px;
          padding-bottom: 0;
          height: auto;
          opacity: 1;
          visibility: visible;
          transform: translate(0, 0) scale(1);
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .intro .menu_area .menu_wrap .menu .menu_item {
            transition: .3s; }
            .intro .menu_area .menu_wrap .menu .menu_item a {
              display: block;
              cursor: pointer; }
            .intro .menu_area .menu_wrap .menu .menu_item:hover {
              transform: translateX(30px); }
              .intro .menu_area .menu_wrap .menu .menu_item:hover a {
                color: #F5ABAB;
                -webkit-text-stroke: 1px #F5ABAB; }
        .intro .menu_area .swiper-intro {
          width: 266px;
          overflow: hidden;
          position: relative; }
          .intro .menu_area .swiper-intro::after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
            background: #F5ABAB url(../img/svg/intro-arrow.svg) no-repeat 50% 50%; }
          .intro .menu_area .swiper-intro .swiper-slide {
            text-align: center; } }

.promo {
  padding: 0;
  display: flex;
  flex-direction: column; }
  .promo .image_wrap {
    flex: auto;
    position: relative; }
    .promo .image_wrap::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
    .promo .image_wrap .image_promo {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .promo .promo_text {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 22px;
    position: relative;
    overflow: hidden; }
    .promo .promo_text .promo_figure {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
      .promo .promo_text .promo_figure--1 {
        top: 0;
        right: 0;
        margin-top: -60px; }
      .promo .promo_text .promo_figure--2 {
        top: 0;
        right: 0;
        margin-top: -56px;
        margin-right: 20px; }
      .promo .promo_text .promo_figure--3 {
        bottom: 0;
        margin-bottom: -60px; }
      .promo .promo_text .promo_figure--4 {
        bottom: 0;
        margin-bottom: -56px;
        margin-left: 20px; }

.steps ol {
  flex: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
  counter-reset: my-counter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%; }

.steps li {
  font-weight: 300;
  font-size: 20px;
  color: #000000; }
  .steps li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: rgba(235, 87, 87, 0.5);
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18;
    letter-spacing: 0.133333px;
    color: #FFFFFF; }

.steps .v-line {
  border-left: 1px solid #C4C4C4;
  height: 100%;
  width: 1px;
  margin: 6px 15.5px; }

.vacancies .vacancies_wrap {
  height: 1px;
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative; }
  .vacancies .vacancies_wrap .vacancy {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; }
    .vacancies .vacancies_wrap .vacancy::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
    .vacancies .vacancies_wrap .vacancy img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .vacancies .vacancies_wrap .vacancy .vacancy_name {
      font-size: 24px;
      color: #FFFFFF;
      padding: 15px 20px;
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0; }
    .vacancies .vacancies_wrap .vacancy .vacancy_price {
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
      padding: 15px 20px;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0; }
  .vacancies .vacancies_wrap .vacancies_figure {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: rgba(235, 87, 87, 0.5);
    border-radius: 50%; }
    .vacancies .vacancies_wrap .vacancies_figure--1 {
      top: 0;
      right: 0;
      margin-right: -50px;
      margin-top: 40px; }
    .vacancies .vacancies_wrap .vacancies_figure--2 {
      top: 0;
      right: 0;
      margin-right: -40px;
      margin-top: 30px; }
    .vacancies .vacancies_wrap .vacancies_figure--3 {
      left: 0;
      bottom: 0;
      margin-left: -41px;
      margin-bottom: -24px; }
    .vacancies .vacancies_wrap .vacancies_figure--4 {
      left: 0;
      bottom: 0;
      margin-left: -24px;
      margin-bottom: -30px; }

.advantages {
  padding-top: 22px; }
  .advantages .swiper-advantages {
    flex: auto; }
    .advantages .swiper-advantages .swiper-slide {
      display: flex;
      align-items: center; }
    .advantages .swiper-advantages .swiper-pagination-bullets {
      bottom: 30px; }
    .advantages .swiper-advantages .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background: none;
      border: 1px solid #000; }
    .advantages .swiper-advantages .swiper-pagination-bullet-active {
      position: relative; }
      .advantages .swiper-advantages .swiper-pagination-bullet-active::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2.5px;
        margin-left: -2.5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000; }
  .advantages .advantages_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(235, 87, 87, 0.25);
    border-radius: 10px;
    padding: 50px 15px 20px;
    padding-top: 50px;
    text-align: center;
    position: relative; }
    .advantages .advantages_item .advantages_icon {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #F5ABAB;
      position: absolute;
      top: 0;
      margin-top: -50px; }
    .advantages .advantages_item .advantages_title {
      font-size: 20px;
      margin: 20px 0;
      text-transform: uppercase; }
    .advantages .advantages_item .advantages_description {
      font-weight: 300;
      font-size: 20px; }

.requirements .requirements_title .section_title {
  margin-bottom: 0; }

.requirements .requirements_title .pre_title {
  margin-bottom: 25px; }

.requirements .requirements_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .requirements .requirements_list li + li {
    margin-top: 15px; }
  .requirements .requirements_list li {
    padding-left: 35px;
    font-weight: 300;
    font-size: 20px;
    background: url(../img/svg/pink-marker.svg) no-repeat 0 7px;
    background-size: 20px; }

.feedback .feedback_title {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #EB5757;
  padding: 0 11px;
  border-bottom: 1px solid rgba(235, 87, 87, 0);
  text-align: center; }
  .feedback .feedback_title.active {
    padding: 0 11px;
    color: #EB5757;
    border-bottom: 1px solid #eb5757; }

.feedback .tab-content {
  flex: auto; }
  .feedback .tab-content .tab-pane {
    height: 100%; }

.feedback .input_text {
  font-weight: 300;
  color: #1D1F22;
  font-size: 14px; }
  .feedback .input_text--small {
    font-size: 11px; }

.feedback form .input {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #1D1F22;
  margin-top: 10px;
  padding: 10px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #F1F2F3; }

.feedback .slider {
  width: 100%;
  position: relative; }
  .feedback .slider input[type="range"] {
    outline: none;
    width: 100%;
    -webkit-appearance: none !important;
    position: relative; }
    .feedback .slider input[type="range"]::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      margin-top: -4.5px;
      border-bottom: 1px solid #000; }
  .feedback .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    transition: all .3s ease;
    position: relative; }
    .feedback .slider input[type="range"]::-webkit-slider-thumb::after {
      content: "df"; }
  .feedback .slider input[type="range"]::-moz-range-thumb {
    -moz-appearance: none !important;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    transition: all .3s ease; }
  .feedback .slider #range {
    width: 100%; }
  .feedback .slider #bubble {
    position: absolute;
    margin-top: -15px;
    width: 30px;
    text-align: center;
    left: 50%;
    font-size: 14px;
    transform: translateX(-50%); }

.feedback .radio_wrap .radio_item {
  position: relative; }
  .feedback .radio_wrap .radio_item input[type="radio"] {
    position: absolute;
    visibility: hidden; }
  .feedback .radio_wrap .radio_item label {
    display: inline-flex;
    align-items: center; }
  .feedback .radio_wrap .radio_item .radio_check {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #EB5757;
    margin-right: 15px; }
  .feedback .radio_wrap .radio_item input[type="radio"]:checked + label .radio_check {
    background-color: #EB5757;
    background-image: url(../img/svg/check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%; }

.faq .accordion {
  flex: auto; }
  .faq .accordion .item_title {
    font-size: 15px;
    color: #EB5757;
    padding: 10px 15px;
    transition: .3s;
    border-bottom: 1px solid #F1F2F3; }
  .faq .accordion .collapsed .item_title {
    color: #000000; }
  .faq .accordion .item_description {
    padding: 20px 15px 30px;
    font-size: 14px;
    color: #000000;
    font-weight: 300; }

.contacts .contacts_wrap {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
