@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Roboto', sans-serif; }
  .body a,
  .body a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff; }
  .body ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .body .swiper-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); }
  @media (max-width: 1199.98px) {
    .body .container {
      padding-left: 25px;
      padding-right: 25px; } }
  @media (min-width: 576px) {
    .body .container {
      padding-top: 25px;
      padding-bottom: 25px; } }
  @media (min-width: 1400px) {
    .body .container {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .body .section_inner_wrap {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .body .pre_title {
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    line-height: 1; }
  .body .swiper-slide .section_title {
    line-height: 1;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    position: relative;
    margin-bottom: 40px; }
    .body .swiper-slide .section_title::before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 50px;
      width: 50px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      right: 0;
      margin-right: -25px;
      top: 50%;
      margin-top: -25px;
      transform: translateX(600px);
      opacity: 1; }
  .body .swiper-slide.animated_title .section_title::before {
    transform: translateX(0);
    opacity: 1;
    transition: 1s; }
  .body .button {
    font-size: 18px;
    text-transform: uppercase;
    color: #EB5757;
    padding: 10px 35px;
    border: 2px solid #EB5757;
    min-width: 250px;
    background-color: #fff;
    outline: none;
    transition: .2s; }
    .body .button:hover {
      color: #FFFFFF;
      background-color: #EB5757; }
    .body .button:active {
      transform: scale(0.95);
      color: #FFFFFF;
      background-color: #EB5757; }
  .body .messenger_list {
    display: flex;
    justify-content: center; }
    .body .messenger_list li + li {
      margin-left: 15px; }
    .body .messenger_list li {
      display: inline-flex;
      justify-content: center; }
    .body .messenger_list a {
      display: inline-flex;
      justify-content: center;
      height: 50px;
      width: 50px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
    @media (min-width: 576px) {
      .body .messenger_list a {
        height: 40px;
        width: 40px;
        background-color: rgba(235, 87, 87, 0.5);
        border-radius: 50%; }
        .body .messenger_list a img {
          width: 20px; } }
  .body .phones_list {
    text-align: center; }
    .body .phones_list a {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      text-align: center;
      color: #000000; }
  .body .brand_title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    position: relative;
    max-width: 200px;
    margin-top: 20px; }
    .body .brand_title span {
      position: relative;
      z-index: 1;
      font-size: 36px;
      font-weight: 900;
      line-height: 1.4; }
    .body .brand_title::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 2px;
      left: 93px;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
  .body .hidden {
    visibility: hidden;
    opacity: 0; }
  .body .visible {
    visibility: visible;
    opacity: 1; }

section {
  overflow: hidden; }
  @media (max-width: 575.98px) {
    section {
      padding-top: 40px;
      padding-bottom: 30px; } }
  @media (min-width: 576px) and (max-width: 1199.98px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px; } }

.intro {
  padding: 0;
  position: relative;
  overflow: hidden; }
  .intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25); }
  .intro .container {
    position: relative;
    z-index: 1;
    padding-top: 25px;
    color: #fff;
    background: no-repeat 100% 0%;
    background-image: url(../img/intro-slide-2.jpg);
    background-size: cover; }
  .intro .brand_title {
    color: #fff; }
  .intro p {
    font-size: 24px;
    text-align: center; }
  .intro .intro_preview {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px; }
  .intro .menu_area {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 4; }
    .intro .menu_area::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -100px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: .3s;
      background-color: #fff; }
    .intro .menu_area .menu_wrap {
      opacity: 0;
      visibility: hidden;
      transition: .4s;
      position: relative;
      z-index: 2;
      transform: translate(50px, 500px) scale(0.1);
      padding: 40px 0px 70px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .intro .menu_area .menu_wrap .menu li + li {
        margin-top: 15px; }
      .intro .menu_area .menu_wrap .menu .menu_item a {
        white-space: nowrap;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.02em;
        -webkit-text-stroke: 1px #000;
        transition: .3s; }
        .intro .menu_area .menu_wrap .menu .menu_item a:hover {
          color: #000; }
    .intro .menu_area .menu_toggle {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      bottom: -50px;
      left: 50%;
      z-index: 5;
      margin-left: -50px;
      padding-top: 10px; }
      .intro .menu_area .menu_toggle .item_top {
        margin-top: 6px; }
      .intro .menu_area .menu_toggle .item_mid {
        margin-top: 15px; }
      .intro .menu_area .menu_toggle .item_bot {
        margin-top: 24px; }
      .intro .menu_area .menu_toggle .menu_item {
        position: absolute;
        left: 50%;
        margin-left: -15px;
        width: 30px;
        height: 2px;
        border-radius: 3px;
        background-color: #fff;
        transition: .3s; }
    .intro .menu_area.activated::after {
      transform: translateY(-500px) scale(15); }
    .intro .menu_area.activated .menu_wrap {
      opacity: 1;
      visibility: visible;
      transform: translate(0) scale(1); }
    .intro .menu_area.activated .menu_toggle .menu_item {
      transform: rotate(45deg); }
    .intro .menu_area.activated .menu_toggle .item_bot,
    .intro .menu_area.activated .menu_toggle .item_top {
      margin-top: 15px;
      transform: rotate(135deg); }
  @media (max-width: 575.98px) {
    .intro .menu {
      padding-left: 25px;
      padding-right: 25px; } }
  @media (min-width: 576px) {
    .intro::after {
      content: none; }
    .intro .container {
      color: #000;
      background-size: auto 51%; }
    .intro .contacts_wrap {
      padding-bottom: 10px;
      border-bottom: 1px solid #000;
      width: 70%; }
      .intro .contacts_wrap .contacts_list li a {
        color: #000;
        font-size: 24px; }
    .intro .brand_title span {
      color: #000;
      font-size: 68px;
      line-height: 1; }
    .intro .brand_title::before {
      content: none; }
    .intro .intro_preview {
      font-size: 33px;
      width: 50%;
      margin-top: 50px;
      margin-bottom: 30px; }
    .intro p {
      text-align: left; }
    .intro .menu_area .menu_wrap {
      padding-top: 15px;
      padding-bottom: 0;
      height: auto;
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0) scale(1);
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; }
      .intro .menu_area .menu_wrap .menu .menu_item {
        transition: .3s; }
        .intro .menu_area .menu_wrap .menu .menu_item a {
          display: block;
          cursor: pointer; }
        .intro .menu_area .menu_wrap .menu .menu_item:hover {
          transform: translateX(30px); }
          .intro .menu_area .menu_wrap .menu .menu_item:hover a {
            color: #F5ABAB;
            -webkit-text-stroke: 1px #F5ABAB; }
    .intro .menu_area .swiper-intro {
      width: 266px;
      overflow: hidden;
      position: relative; }
      .intro .menu_area .swiper-intro .swiper-slide {
        text-align: center;
        height: 400px; }
        .intro .menu_area .swiper-intro .swiper-slide img {
          height: 100%;
          width: 100%;
          object-fit: cover; } }
  @media (min-width: 576px) and (max-width: 1199.98px) {
    .intro .container {
      padding-left: 0;
      margin-right: 0; }
    .intro .menu_area {
      position: relative; }
      .intro .menu_area .menu_wrap {
        padding-top: 50px; }
    .intro .intro_bottom_text {
      right: 25px; } }
  @media (min-width: 576px) {
    .intro .intro_bottom_text {
      position: absolute;
      bottom: 25px; }
      .intro .intro_bottom_text b {
        font-size: 24px; }
      .intro .intro_bottom_text p {
        line-height: 1;
        margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .intro {
      background-image: none; }
      .intro .container {
        background-size: auto 85%; }
      .intro .intro_preview {
        font-size: 30px;
        margin-top: 10px; }
      .intro .menu_area {
        height: auto;
        padding-left: 12px;
        padding-right: 12px;
        bottom: 25px; }
        .intro .menu_area .menu_wrap {
          padding-top: 0;
          width: 100%;
          align-items: flex-end;
          justify-content: flex-start; }
          .intro .menu_area .menu_wrap .menu li + li {
            margin-top: 10px; }
          .intro .menu_area .menu_wrap .menu .menu_item a {
            font-size: 26px; }
      .intro .swiper-intro {
        margin-left: 26%; }
      .intro .intro_bottom_text {
        right: 0; } }
  @media (min-width: 1400px) {
    .intro .menu_area {
      bottom: 50px; }
      .intro .menu_area .menu_wrap .menu .menu_item a {
        font-size: 36px; }
    .intro .intro_bottom_text {
      padding-bottom: 25px; } }
  @media (min-width: 1900px) {
    .intro .menu_area .menu_wrap {
      align-items: flex-start; }
    .intro .swiper-intro {
      margin-left: 20%; }
    .intro .brand_title {
      margin-top: 80px; } }

.promo {
  padding: 0; }
  .promo .container {
    height: 100%; }
  .promo .image_inner_wrap {
    position: relative;
    z-index: 1; }
    .promo .image_inner_wrap::after {
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
    .promo .image_inner_wrap .image_promo {
      width: 100%; }
  .promo .promo_text {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 22px;
    position: relative;
    overflow: hidden; }
    .promo .promo_text .promo_figure {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
      .promo .promo_text .promo_figure--1 {
        top: 0;
        right: 0;
        margin-top: -60px; }
      .promo .promo_text .promo_figure--2 {
        top: 0;
        right: 0;
        margin-top: -56px;
        margin-right: 20px; }
      .promo .promo_text .promo_figure--3 {
        bottom: 0;
        margin-bottom: -60px; }
      .promo .promo_text .promo_figure--4 {
        bottom: 0;
        margin-bottom: -56px;
        margin-left: 20px; }
  @media (max-width: 575.98px) {
    .promo .container {
      padding: 0; }
    .promo .promo_text {
      padding-left: 25px;
      padding-right: 25px; } }
  @media (max-width: 1199.98px) {
    .promo .image_wrap {
      flex: auto; }
    .promo .image_inner_wrap {
      height: 100%; }
      .promo .image_inner_wrap .image_promo {
        width: 100%;
        height: 100%;
        object-fit: cover; } }
  @media (min-width: 576px) and (max-width: 1199.98px) {
    .promo .container {
      padding-bottom: 0; }
    .promo .image_inner_wrap {
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1200px) {
    .promo .image_wrap {
      height: inherit; }
    .promo .promo_text {
      overflow: visible;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 34px;
      display: flex;
      flex-direction: column; }
      .promo .promo_text .promo_figure {
        height: 200px;
        width: 200px;
        background-color: rgba(235, 87, 87, 0.5);
        border-radius: 50%; }
        .promo .promo_text .promo_figure--1 {
          margin-right: -200px; }
        .promo .promo_text .promo_figure--2 {
          margin-right: -245px; }
        .promo .promo_text .promo_figure--3 {
          margin-left: -350px;
          margin-bottom: -10px; }
        .promo .promo_text .promo_figure--4 {
          margin-left: -400px;
          margin-bottom: -20px; }
    .promo .promo_top_text {
      font-size: 86px;
      line-height: 1;
      position: relative;
      z-index: 3;
      left: -100px;
      padding-left: 100px;
      border-bottom: 2px solid #000;
      margin-bottom: 40px; }
    .promo .promo_bottom_text {
      font-size: 24px; } }
  @media (min-width: 1400px) {
    .promo .container {
      padding-top: 100px;
      padding-bottom: 100px; }
    .promo .promo_up_text {
      margin-bottom: 50px;
      font-size: 44px;
      line-height: 1.2;
      color: #000000; } }

.steps ol {
  flex: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
  counter-reset: my-counter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%; }

.steps li {
  font-weight: 300;
  font-size: 20px;
  color: #000000; }
  .steps li::before {
    content: counter(my-counter);
    counter-increment: my-counter;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18;
    letter-spacing: 0.133333px;
    color: #FFFFFF; }

.steps .v-line {
  border-left: 1px solid #C4C4C4;
  height: 100%;
  width: 1px;
  margin: 6px 15.5px; }

@media (max-width: 1199.98px) {
  .steps li img {
    display: none; }
  .steps li::before {
    height: 32px;
    width: 32px;
    background-color: rgba(235, 87, 87, 0.5);
    border-radius: 50%; } }

@media (min-width: 576px) and (max-width: 1199.98px) {
  .steps ol {
    padding-top: 60px;
    padding-bottom: 50px;
    width: 50%;
    align-self: center; } }

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .steps .container {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 1200px) {
  .steps .v-line {
    display: none; }
  .steps li {
    font-weight: 500;
    letter-spacing: 1;
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 1px black;
    transition: .3s;
    width: 50%; }
    .steps li .item_text {
      z-index: 3;
      transition: .5s;
      cursor: pointer; }
    .steps li .img_wrap {
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -150px;
      margin-left: -60px;
      width: 450px;
      height: 300px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(200px); }
      .steps li .img_wrap img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .steps li:first-child .img_wrap {
      margin-top: -50px; }
    .steps li:last-child .img_wrap {
      margin-top: -270px; }
    .steps li::before {
      font-family: 'Roboto', sans-serif;
      transition: .5s; }
    .steps li:hover {
      transform: translateX(50px) scale(1.06); }
      .steps li:hover .item_text {
        position: relative;
        color: #EB5757;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0); }
      .steps li:hover .img_wrap {
        z-index: 2;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        transition: .3s; }
      .steps li:hover::before {
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
        color: #EB5757; } }

.vacancies.swiper-slide-active .vacancy {
  transition: .6s; }

.vacancies.swiper-slide-active .vacancy:nth-child(1) {
  transform: translateX(0);
  transition-delay: 1s;
  opacity: 1; }

.vacancies.swiper-slide-active .vacancy:nth-child(2) {
  transform: translateX(0);
  transition-delay: .6s;
  opacity: 1; }

.vacancies.swiper-slide-active .vacancy:nth-child(3) {
  transition-delay: .3s;
  transform: translateX(0);
  opacity: 1; }

.vacancies .vacancies_wrap {
  height: 1px;
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative; }
  .vacancies .vacancies_wrap .vacancy {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transform: translateX(-800px);
    opacity: 0; }
    .vacancies .vacancies_wrap .vacancy .img_wrap {
      position: relative; }
      .vacancies .vacancies_wrap .vacancy .img_wrap::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)); }
  .vacancies .vacancies_wrap .vacancies_figure {
    position: absolute;
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: rgba(235, 87, 87, 0.5);
    border-radius: 50%; }
    .vacancies .vacancies_wrap .vacancies_figure--1 {
      top: 0;
      right: 0;
      margin-right: -50px;
      margin-top: 40px; }
    .vacancies .vacancies_wrap .vacancies_figure--2 {
      top: 0;
      right: 0;
      margin-right: -40px;
      margin-top: 30px; }
    .vacancies .vacancies_wrap .vacancies_figure--3 {
      left: 0;
      bottom: 0;
      margin-left: -41px;
      margin-bottom: -24px; }
    .vacancies .vacancies_wrap .vacancies_figure--4 {
      left: 0;
      bottom: 0;
      margin-left: -24px;
      margin-bottom: -30px; }

@media (max-width: 1199.98px) {
  .vacancies .vacancy .vacancy_name,
  .vacancies .vacancy .vacancy_price {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    padding: 15px 20px;
    position: absolute;
    z-index: 2; }
  .vacancies .vacancy .vacancy_name {
    bottom: 0;
    left: 0; }
  .vacancies .vacancy .vacancy_price {
    top: 0;
    right: 0; }
  .vacancies .vacancy img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .vacancies .vacancy .vacancy_description p {
    display: none; } }

@media (min-width: 576px) {
  .vacancies .vacancies_wrap .vacancy {
    margin-top: 30px; }
    .vacancies .vacancies_wrap .vacancy .vacancy_name {
      font-size: 36px; }
    .vacancies .vacancies_wrap .vacancy .vacancy_price {
      font-size: 30px; } }

@media (min-width: 1200px) {
  .vacancies .vacancies_wrap {
    flex-direction: row; }
    .vacancies .vacancies_wrap .vacancy {
      border-radius: 0px;
      margin-top: 0;
      flex: 1;
      margin-left: 30px;
      display: flex;
      flex-direction: column; }
      .vacancies .vacancies_wrap .vacancy .img_wrap {
        flex: auto;
        height: 1px; }
        .vacancies .vacancies_wrap .vacancy .img_wrap img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top; }
      .vacancies .vacancies_wrap .vacancy .vacancy_name {
        margin-top: 20px;
        font-size: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #EB5757;
        margin-bottom: 10px; }
      .vacancies .vacancies_wrap .vacancy .vacancy_price {
        text-align: right;
        display: inline-block;
        font-size: 24px;
        padding-bottom: 10px;
        border-bottom: 1px solid #EB5757; }
      .vacancies .vacancies_wrap .vacancy .vacancy_description {
        display: flex;
        flex-direction: column; }
    .vacancies .vacancies_wrap .vacancies_figure--3 {
      left: 0;
      bottom: 0;
      margin-left: -131px;
      margin-bottom: -24px; }
    .vacancies .vacancies_wrap .vacancies_figure--4 {
      left: 0;
      bottom: 0;
      margin-left: -114px;
      margin-bottom: -30px; } }

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .vacancies .vacancies_wrap .vacancy_description p {
    font-size: 14px; }
  .vacancies .vacancies_wrap .vacancy .img_wrap img {
    object-position: 0px -35px; } }

@media (min-width: 1400px) {
  .vacancies .vacancies_wrap {
    align-items: center; }
    .vacancies .vacancies_wrap .vacancy {
      height: 100%;
      max-height: 700px; } }

.advantages .advantages_item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative; }
  .advantages .advantages_item .advantages_icon {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #F5ABAB;
    position: absolute;
    top: 0; }
  .advantages .advantages_item .advantages_title {
    text-transform: uppercase; }

@media (max-width: 1199.98px) {
  .advantages .swiper-advantages {
    flex: auto; }
    .advantages .swiper-advantages .swiper-slide {
      display: flex;
      align-items: center; }
    .advantages .swiper-advantages .swiper-pagination-bullets {
      bottom: 30px; }
    .advantages .swiper-advantages .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background: none;
      border: 1px solid #000; }
    .advantages .swiper-advantages .swiper-pagination-bullet-active {
      position: relative; }
      .advantages .swiper-advantages .swiper-pagination-bullet-active::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2.5px;
        margin-left: -2.5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000; }
  .advantages .advantages_item {
    padding: 50px 15px 20px;
    padding-top: 50px;
    box-shadow: 0px 0px 4px rgba(235, 87, 87, 0.25);
    text-align: center;
    align-items: center; }
    .advantages .advantages_item .advantages_icon {
      width: 100px;
      height: 100px;
      margin-top: -50px; }
    .advantages .advantages_item .advantages_title {
      font-size: 20px;
      margin: 20px 0; }
    .advantages .advantages_item .advantages_description {
      font-weight: 300;
      font-size: 20px; } }

@media (min-width: 1200px) {
  .advantages .swiper-advantages {
    flex: auto; }
  .advantages .swiper-wrapper {
    flex-wrap: wrap; }
    .advantages .swiper-wrapper .swiper-slide {
      width: 50%;
      height: calc(100%/3);
      display: flex;
      align-items: center; }
  .advantages .advantages_item {
    padding-left: 90px;
    padding-right: 20px; }
    .advantages .advantages_item .advantages_icon {
      width: 65px;
      height: 65px;
      left: 0; }
      .advantages .advantages_item .advantages_icon img {
        width: 30px; }
    .advantages .advantages_item .advantages_title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 15px; } }

.requirements .requirements_title .section_title {
  margin-bottom: 0; }

.requirements .requirements_title .pre_title {
  margin-bottom: 25px; }

.requirements .requirements_list {
  display: flex;
  flex-direction: column; }
  .requirements .requirements_list li {
    font-weight: 300;
    font-size: 20px; }
    .requirements .requirements_list li .list_inner_item {
      padding-left: 35px;
      background: url(../img/svg/pink-marker.svg) no-repeat 0 7px;
      background-size: 20px; }

@media (max-width: 1199.98px) {
  .requirements .requirements_list_wrap {
    height: 100%; }
  .requirements .requirements_list {
    height: 100%;
    justify-content: space-around; }
    .requirements .requirements_list li + li {
      margin-top: 15px; } }

@media (min-width: 1200px) {
  .requirements .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .requirements .requirements_container,
  .requirements .list_inner_item {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px; }
  .requirements .requirements_list_wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
  .requirements .requirements_list li {
    height: 70px;
    flex: auto;
    display: flex;
    align-items: center; }
    .requirements .requirements_list li .list_inner_item {
      background-image: url(../img/svg/check-black.svg);
      background-repeat: no-repeat;
      padding-left: 45px;
      background-position: 12px 50%; }
  .requirements .requirements_list li:nth-child(even) {
    position: relative; }
    .requirements .requirements_list li:nth-child(even)::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(235, 87, 87, 0.25); } }

.feedback {
  position: relative; }
  .feedback .form_response {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #EB5757;
    transition: .8s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    transform: translateY(-100vh); }
    .feedback .form_response .close_button {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 1;
      z-index: 2;
      top: 50px;
      right: 50px;
      color: #fff;
      font-size: 34px;
      cursor: pointer; }
    .feedback .form_response.visible {
      transform: translateY(0);
      visibility: visible;
      opacity: 1; }
  .feedback .feedback_title {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: #EB5757;
    padding: 0 11px;
    border-bottom: 1px solid rgba(235, 87, 87, 0);
    text-align: center; }
    .feedback .feedback_title.active {
      padding: 0 11px;
      color: #EB5757;
      border-bottom: 1px solid #eb5757; }
    .feedback .feedback_title:hover {
      padding: 0 11px;
      color: #EB5757; }
  .feedback .tab-content {
    flex: auto; }
    .feedback .tab-content .tab-pane {
      height: 100%; }
  .feedback .input_text {
    font-weight: 300;
    color: #1D1F22;
    font-size: 14px; }
    .feedback .input_text--small {
      font-size: 11px; }
  .feedback form .input_text {
    padding-left: 15px; }
  .feedback form .input {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #1D1F22;
    margin-top: 10px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #F1F2F3; }
  .feedback form .input-placeholder {
    margin-top: 10px;
    position: relative; }
    .feedback form .input-placeholder .input {
      margin-top: 0; }
      .feedback form .input-placeholder .input:focus + .placeholder {
        transform: translateY(35px);
        color: rgba(235, 87, 87, 0.7); }
      .feedback form .input-placeholder .input:focus {
        border-bottom-color: #EB5757; }
    .feedback form .input-placeholder .placeholder {
      transition: .3s;
      position: absolute;
      pointer-events: none;
      bottom: 0;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 300;
      margin: auto;
      color: rgba(29, 31, 34, 0.7); }
      .feedback form .input-placeholder .placeholder span {
        color: rgba(235, 87, 87, 0.7); }
  .feedback .slider {
    width: 100%;
    position: relative; }
    .feedback .slider input[type="range"] {
      outline: none;
      width: 100%;
      -webkit-appearance: none !important;
      position: relative; }
      .feedback .slider input[type="range"]::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: -4.5px;
        border-bottom: 1px solid #000; }
    .feedback .slider input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 50%;
      transition: all .3s ease;
      position: relative; }
      .feedback .slider input[type="range"]::-webkit-slider-thumb::after {
        content: "df"; }
    .feedback .slider input[type="range"]::-moz-range-thumb {
      -moz-appearance: none !important;
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 50%;
      transition: all .3s ease; }
    .feedback .slider #range {
      width: 100%; }
    .feedback .slider #bubble {
      position: absolute;
      margin-top: -15px;
      width: 30px;
      text-align: center;
      left: 15.5%;
      font-size: 14px;
      transform: translateX(-50%); }
  .feedback .radio_wrap .radio_item {
    position: relative; }
    .feedback .radio_wrap .radio_item input[type="radio"] {
      position: absolute;
      visibility: hidden; }
    .feedback .radio_wrap .radio_item label {
      display: inline-flex;
      align-items: center; }
    .feedback .radio_wrap .radio_item .radio_check {
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #EB5757;
      margin-right: 15px; }
    .feedback .radio_wrap .radio_item input[type="radio"]:checked + label .radio_check {
      background-color: #EB5757;
      background-image: url(../img/svg/check.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%; }
  @media (max-width: 575.98px) {
    .feedback .slider {
      margin-top: 20px; } }
  @media (max-width: 1199.98px) {
    .feedback .form_response {
      font-size: 28px; }
      .feedback .form_response .close_button {
        top: 25px;
        right: 10px; } }
  @media (min-width: 1200px) {
    .feedback .image_wrap {
      width: 100%;
      height: 100%;
      background: url(../img/feedback_image.jpg) no-repeat 100% 0%;
      background-size: auto 100%; }
    .feedback .feedback_figure {
      position: absolute;
      z-index: -1;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
      .feedback .feedback_figure--1 {
        left: 36%;
        top: 33%; }
      .feedback .feedback_figure--2 {
        left: 38%;
        top: 27%; } }

.faq .accordion {
  flex: auto; }
  .faq .accordion .item_title {
    font-size: 15px;
    color: #EB5757;
    padding: 10px 0;
    transition: .3s;
    border-bottom: 1px solid #F1F2F3; }
  .faq .accordion .collapsed .item_title {
    color: #000000; }
  .faq .accordion .item_description {
    padding: 20px 15px 30px;
    font-size: 14px;
    color: #000000;
    font-weight: 300; }

@media (min-width: 1200px) {
  .faq .accordion .item_title {
    font-size: 20px; }
  .faq .accordion .item_description {
    font-size: 17px; } }

.contacts .contacts_wrap {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contacts .brand_title {
  cursor: pointer; }
  .contacts .brand_title span {
    color: #000; }
  .contacts .brand_title:hover {
    margin-top: 20px;
    color: #000; }
