@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
* {
  box-sizing: border-box; }

.body {
  height: 100vh;
  font-family: 'Roboto', sans-serif; }
  .body a,
  .body a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff; }
  .body ul {
    list-style: none;
    padding: 0; }
  .body .swiper-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); }
  .body .container {
    padding-left: 25px;
    padding-right: 25px; }
  .body .section_title {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    position: relative;
    margin-bottom: 40px; }
    .body .section_title::before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 50px;
      width: 50px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      right: 0;
      margin-right: -25px;
      top: 50%;
      margin-top: -25px; }

section {
  overflow: hidden; }

.intro {
  background: url(../img/intro-mobile.jpg) no-repeat 50% 0%;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25); }
  .intro .container {
    position: relative;
    z-index: 1; }
  .intro .contacts_list {
    margin-top: 40px; }
  .intro .brand_title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    max-width: 200px; }
    .intro .brand_title span {
      position: relative;
      z-index: 1;
      font-size: 36px;
      font-weight: 900;
      line-height: 1.4; }
    .intro .brand_title::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 2px;
      left: 93px;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
  .intro p {
    font-size: 24px;
    color: #fff;
    text-align: center; }
  .intro .intro_preview {
    font-size: 36px;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 50px; }
  .intro .menu_area {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 4; }
    .intro .menu_area::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -100px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: .3s;
      background-color: #fff; }
    .intro .menu_area .menu_wrap {
      opacity: 0;
      visibility: hidden;
      transition: .4s;
      position: relative;
      z-index: 2;
      transform: translate(50px, 500px) scale(0.1);
      padding: 40px 25px 70px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .intro .menu_area .menu_wrap .menu li + li {
        margin-top: 15px; }
      .intro .menu_area .menu_wrap .menu .menu_item a {
        white-space: nowrap;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0.02em;
        -webkit-text-stroke: 1px #000;
        transition: .3s; }
        .intro .menu_area .menu_wrap .menu .menu_item a:hover {
          color: #000; }
      .intro .menu_area .menu_wrap .messenger_list {
        display: flex;
        justify-content: center; }
        .intro .menu_area .menu_wrap .messenger_list li + li {
          margin-left: 15px; }
        .intro .menu_area .menu_wrap .messenger_list a {
          display: inline-flex;
          justify-content: center;
          height: 50px;
          width: 50px;
          background-color: rgba(235, 87, 87, 0.5);
          border-radius: 50%; }
      .intro .menu_area .menu_wrap .phones_list {
        text-align: center; }
        .intro .menu_area .menu_wrap .phones_list a {
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          text-align: center;
          color: #000000; }
    .intro .menu_area .menu_toggle {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      bottom: -50px;
      left: 50%;
      z-index: 5;
      margin-left: -50px;
      padding-top: 10px; }
      .intro .menu_area .menu_toggle .item_top {
        margin-top: 6px; }
      .intro .menu_area .menu_toggle .item_mid {
        margin-top: 15px; }
      .intro .menu_area .menu_toggle .item_bot {
        margin-top: 24px; }
      .intro .menu_area .menu_toggle .menu_item {
        position: absolute;
        left: 50%;
        margin-left: -18px;
        width: 36px;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        transition: .3s; }
    .intro .menu_area.activated::after {
      transform: translateY(-500px) scale(15); }
    .intro .menu_area.activated .menu_wrap {
      opacity: 1;
      visibility: visible;
      transform: translate(0) scale(1); }
    .intro .menu_area.activated .menu_toggle .menu_item {
      transform: rotate(45deg); }
    .intro .menu_area.activated .menu_toggle .item_bot,
    .intro .menu_area.activated .menu_toggle .item_top {
      margin-top: 15px;
      transform: rotate(135deg); }

.promo {
  display: flex;
  flex-direction: column; }
  .promo .image_wrap {
    flex: auto;
    position: relative; }
    .promo .image_wrap::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
    .promo .image_wrap .image_promo {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .promo .promo_text {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 22px;
    position: relative;
    overflow: hidden; }
    .promo .promo_text .promo_figure {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%; }
      .promo .promo_text .promo_figure--1 {
        top: 0;
        right: 0;
        margin-top: -60px; }
      .promo .promo_text .promo_figure--2 {
        top: 0;
        right: 0;
        margin-top: -56px;
        margin-right: 20px; }
      .promo .promo_text .promo_figure--3 {
        bottom: 0;
        margin-bottom: -60px; }
      .promo .promo_text .promo_figure--4 {
        bottom: 0;
        margin-bottom: -56px;
        margin-left: 20px; }

.steps {
  padding: 50px 0; }
  .steps .container {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .steps ol {
    flex: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    counter-reset: my-counter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%; }
  .steps li {
    font-weight: 300;
    font-size: 20px;
    color: #000000; }
    .steps li::before {
      content: counter(my-counter);
      counter-increment: my-counter;
      margin-right: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
      background-color: rgba(235, 87, 87, 0.5);
      border-radius: 50%;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 18;
      letter-spacing: 0.133333px;
      color: #FFFFFF; }
  .steps .v-line {
    border-left: 1px solid #C4C4C4;
    height: 100%;
    width: 1px;
    margin: 6px 15.5px; }
